{
  "extends": ["sanity", "prettier"],
  "env": {"node": true, "browser": true},
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-await-in-loop": "off",
    "no-console": "off",
    "complexity": "off",
    "id-length": "off",
    "max-depth": "off",
    "no-sync": "off",
    "strict": "off"
  }
}
